.plan{
  padding: 0 24px;
  li{
    margin-bottom: 20px;
    background-color: #ffffff;
  }
}
.title{
  height: 90px;
  line-height: 90px;
  color: #fff;
  background-color: $theme-color;
  border-radius: 6px 6px 0 0;
  span:first-of-type{
    display: inline-block;
    font-size: 40px;
    text-indent: 20px;
    margin-right: 28px;
  }
  span:last-of-type{
    font-size: 32px;
  }
}
.medicine__list{
  border-radius: 0 0 6px 6px;
  li{
    height: 120px;
    line-height: 120px;
    overflow: hidden;
    padding: 0 20px;
    font-size: 32px;
    color: $main-text-color;
    border-bottom: 2px solid $borderColor;
    &:last-of-type{
      border-bottom: none;
    }
    span{
      display: inline-block;
      float: left;
    }
    span:last-of-type{
      float: right;
    }
  }
}