.plan{
  :global{
    .am-navbar-left-icon{
      display: none;
    }
  }
  &__img{
    @include size(45px);
  }
  &__content{

  }
  &__lists,
  &__plans{
    padding: 20px 24px 0;
    background-color: #fff;
  }
}