:global{
  .app{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    a{
      color: $theme-color;
      text-decoration: none;
      &:visited,
      &:active,
      &:focus{
        color: $theme-color;
        text-decoration: none;
      }
    }
  }
  .am-navbar{
    border-bottom: 2px solid $borderColor;
    .am-icon-left,
    .am-navbar-right{
      color: $theme-color;
    }
  }
}

